@model IEnumerable<Desafio.Web.Models.ProductViewModel>

@{
    ViewBag.Title = "Produtos";
}

<h2>Produtos</h2>

<p>
    @Html.ActionLink("Novo Produto", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ProductId }) |
                @Html.ActionLink("Detalhe", "Details", new { id = item.ProductId }) |
                @Html.ActionLink("Deletar", "Delete", new { id = item.ProductId })
            </td>
        </tr>
    }

</table>

@section Scripts {
    <script>

        $(document).ready(function () {
            if ('@ViewBag.ProductErro' != '') {
                alert('@ViewBag.ProductErro');
            }

        });

    </script>
    }