@model Desafio.Web.Models.ClientViewModel

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPF)
        </dt>

        <dd>
            <span class="CPF">@Html.DisplayFor(model => model.CPF) </span>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ClientId }) |
    @Html.ActionLink("Voltar á lista", "Index")
</p>

@section Scripts {
    @Scripts.Render("~/jqueryMask")

    <script type="text/javascript">


        $(document).ready(function () {
            $('.CPF').mask('999.999.999-99', { placeholder: "___.___.___-__" });
        });

    </script>
}